<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>this is profile</h1>
    <h2>Well come {{name}}</h2>

    {% if messages %} {% for message in messages %}
    <small {% if messages.tags %} class="{{message.tags}}" {% endif %}>
      {{message}}
    </small>
    {% endfor %} {% endif %}

    <div>
      <h3>logout</h3>
      <a href="{% url 'logout' %}"> <button>logout</button> </a>
    </div>
  </body>
</html>
