<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <figure>
      <img src="/_media/confusion.jpg" alt="confusion" />
      <figcaption>
        this is the place where you wil get confusea Lorem ipsum dolor sit amet,
        consectetur adipisicing elit. Ex vero reprehenderit voluptas quibusdam
        doloremque aspernatur ut quam officia culpa voluptatibus, iusto dolor
        nobis rem ipsa sequi nostrum eligendi eaque? Laborum perspiciatis
        debitis voluptate perferendis molestias soluta labore ratione dolore
        assumenda sed deleniti, quae aperiam nesciunt totam possimus rem ad
        ullam explicabo quas voluptatum earum iure minus vel. Deserunt ipsum
        ipsam voluptatibus amet. Vel, quidem consequatur! Sunt sed expedita
        officia non cum quibusdam esse numquam voluptatum blanditiis porro
        nihil, voluptas quisquam sequi inventore. Sit fuga praesentium tempora
        ad. Perferendis consequuntur earum, esse fugiat hic repellat, adipisci
        ratione rerum eos magni amet quas cupiditate ipsam quod tempora optio
        eaque. Aspernatur provident obcaecati beatae amet modi, ipsam quidem
        doloremque, magnam maiores, eveniet minima cumque illo laboriosam
        deleniti natus. Sapiente totam eius maxime ratione, minima soluta,
        nulla, nostrum quam fugit perferendis sint iusto magni. Dignissimos
        adipisci, beatae porro voluptate eius cupiditate exercitationem rem
        temporibus assumenda, ratione a quam earum magni reprehenderit
        voluptatem quibusdam. Cumque, alias animi tenetur quasi dolorem dolorum
        vero quia blanditiis autem quis saepe quaerat error dolores vel eligendi
        quae ab neque, totam reiciendis! Corrupti, repellendus dolorum. Nam
        omnis iste, deleniti eligendi itaque aspernatur nemo animi officiis!
        Culpa optio at facere veritatis.
      </figcaption>
    </figure>
    <details>
      <summary>
        <h1>click here for details</h1>
        see for more details
      </summary>
      <h1>hello world</h1>
      <h2>momentom and can use it</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Earum id
        exercitationem recusandae similique eum iste vitae, eos ipsum corrupti!
        Ex est perferendis rem numquam fugit tempora tempore, dignissimos cum et
        expedita ipsa exercitationem cupiditate ullam. Numquam, accusantium
        repellat cupiditate iste harum tempore expedita hic odio consequuntur
        natus nam ad explicabo. Dignissimos exercitationem eius cumque, ducimus
        optio hic natus voluptatum. Provident accusamus debitis quas, iure eaque
        molestias voluptas delectus excepturi porro quos commodi eius suscipit.
        Soluta maxime corporis possimus magni rem adipisci aperiam odio
        repellendus nobis, placeat eius expedita sit, libero dolor impedit eaque
        est? Excepturi sint voluptas quod totam quisquam! Dolorem consectetur
        optio nulla nisi illum magnam omnis et, possimus eveniet eum expedita
        molestiae ducimus eaque quasi quibusdam deleniti necessitatibus
        voluptatum ipsa ipsam obcaecati hic voluptates ipsum non. Itaque
        veritatis, perspiciatis, dignissimos corrupti esse ea vitae provident
        quod quas animi iusto vero distinctio repudiandae eos id aut laborum
        explicabo atque! Minima, aliquam iure. Laudantium, beatae ullam? Nulla
        molestias sequi ut libero similique beatae nemo velit mollitia nesciunt
        ipsum amet dolor quam veniam aut deleniti accusamus quisquam corporis
        ipsam nisi, officiis nihil fugit commodi. Amet maxime ratione quaerat et
        minus laboriosam impedit recusandae officiis ab commodi. Delectus quos
        non reiciendis dicta.
      </p>
    </details>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vel neque
      officia nesciunt natus voluptatum vitae quidem eveniet voluptate, hic
      quia.
    </p>
    
    <mark>hello you good morning</mark>
    <mark style='background-color:aqua'>hello you good morning</mark>
    <br>

    <audio src="../_media/song.mp3" controls ></audio>
    <br>

    <audio width="100vw"  controls >
        <source src='../_media/song.mp3' >
    </audio>

    <br>

    <video width="100vw"  src="../_media/burjalarab.mp4"></video>

    <video width="100vw"  controls>
        <source src='../_media/burjalarab.mp4' > 
    </video>

    <!-- auto play-->
    <video width="100vw"  controls autoplay >
        <source src='../_media/burjalarab.mp4' > 
    </video>

    <!-- how to multe the  -->
    <video width="100vw"  controls autoplay >
        <source src='../_media/burjalarab.mp4' > 
    </video>

    <iframe width="100vw"  src="https://www.youtube.com/embed/ZvbzSrg0afE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    <iframe width="560" height="315" src="https://www.youtube.com/embed/CeTJtXguMOI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>











  </body>
</html>
