
#demo3 {
    width: 200px;
    height: 200px;
    background: url("./jiyaulla.jpeg");
}

#demo4 {
    width: 200px;
    height: 200px;
    content: url("./book.png");
}

#demo5 {
    width: 200px;
    height: 200px;
}

