<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>start of the program</h1>   

    {% if a < 2 %}
    <h2> here  {{a}} is greater than 2  </h2>
    {% elif a < 4 %}
    <h2> here {{a}} is greater 4 </h2>
    {% elif a < 6 %}
    <h2> here {{a}} is greater 6 </h2>
    {% elif a < 8 %}
    <h2> here {{a}} is greater 8 </h2>
    {% elif a < 10 %}
    <h2> here {{a}} is greater 10 </h2>
    {% elif a < 12 %}
    <h2> here {{a}} is greater 12 </h2>
    {% elif a < 14 %}
    <h1> common end of the program </h1>
    {% else %}
    <h1> the end of program  </h1>
    {% endif %}
    <h1>this is the end </h1>


   
</body>
</html>