<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h2>this is home page</h2>
    <div>
      {% if products %}
      <h2>this are the list of products</h2>
      <table border="1px solid ">
        <tr>
          <th>id</th>
          <th>name</th>
          <th>desc</th>
          <th>photo name</th>
          <th>photo</th>
        </tr>

        {% for product in products %}
        <tr>
          <td>{{product.id}}</td>
          <td>{{product.name}}</td>
          <td>{{product.desc}}</td>
          <td>{{product.photo}}</td>
          <td><img src="{{product.photo.url}}" alt="" width="200px" /></td>
        </tr>
        {% endfor %}
      </table>

      {% else %}
      <h2>there is no products</h2>
      {% endif %}
    </div>

    {% if product %}
    <h2>this are the list of products</h2>
    <table border="1px solid ">
      <tr>
        <th>id</th>
        <th>name</th>
        <th>desc</th>
        <th>photo name</th>
        <th>photo</th>
      </tr>

      <tr>
        <td>{{product.id}}</td>
        <td>{{product.name}}</td>
        <td>{{product.desc}}</td>
        <td>{{product.photo}}</td>
        <td><img src="{{product.photo.url}}" alt="" width="200px" /></td>
      </tr>
    </table>

    {% else %}
    <h2>there is no products</h2>
    {% endif %}

    <div></div>
  </body>
</html>
