<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h2>update  the product</h2>
    {% if pro_form %}

    <h2>this is the product form</h2>
    <form action="" method="POST" enc enctype="multipart/form-data">
        {% csrf_token %}
      {{pro_form.as_p}} click here to
      <input type="submit" value="update product" />
    </form>
    {% else %}
    <h2>no such form</h2>
    {% endif %}
  </body>
</html>
